h1 {
  color: red;
}

body {
  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: center;
  height: 100vh;
}

li {
  list-style: none;
}

.huge {
  font-size: 10rem;
  font-weight: bold;
  color: aqua;
}